/* mens page css, womens page css, sales page css */ 

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
 }

 body{
  font-family: 'Raleway', sans-serif;
 }

/* css for product page side Navigation bar */
.leftcol{
    max-width: 10%;
    height: 100%;
    margin-top: 13px;
    margin-left: 10px;
    position: absolute;
    padding: 20px;
}

/* main content/products Styling */
.maincontent{
    max-width: 100%;
    max-height: 100%;
    margin-left: 15%;
    padding: 30px;
}

.maincontent img{
    display: flex;
    width: 100%;
}

.product {
  float: left;
  width: 24.12%;
  padding: 5px;
}

.product span{
    padding-top: 10px;
    padding-bottom: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

button {
    display: flex;
    background-color: rgb(160, 203, 245);
    font-size: 12px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 9px 104.34px;
    transition: all .5s;
    outline: 1px solid;
    cursor: pointer;
}
button:hover {
    background-color: #64af3d;
}

/* Page number Styling */
.pagination {
  display: inline-block;
  float: right;
  margin-top: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: rgb(0, 128, 255);
  border-radius: 5px;
}

/* Shopping bag Styling */
h4{
        width: 3%;
        position: relative;
        cursor: pointer;
    }

h4:before{
  content: attr(data-count);
  color: white;
  position: absolute;
  right: 16px;
  font-size: 15px;
  text-align: center;
  top: -12px;
  width: 20px;
  right: -30px;
  height: 20px;
  background: red;
  border-radius: 50%;
  opacity: 0;
}

h4.zero:before{
  opacity: 1;
}

/* Check-out bag Styling */
.select{
  width:60%;
  height: 580px;
  background: rgb(214,  219, 260);
  position: absolute;
  top: -1000px;
  left: 20%;
  transition: 0.5s;
  overflow-y: auto;
  margin: auto;
}
.select div{
  width: 98%;
  height: 70%;
  display: flex;
  padding: 5px;
  border: 1px solid black;
  position: relative;
  margin: 5px auto;
}

.select div img{
  width: 300px;
  height: 100%;
}

.select div p{
  position: absolute;
  margin-top: 100px;
  margin-left: 52%;
  color: black;
}

.select div span{
  position: absolute;
  margin-left: 52%;
  margin-top:50px;
}

.select div button{
  display: none;
  position: absolute;
  left:470px;
  top:150px;
}

#checkout{
  margin-left: 325px;
  color:black;
}


.select.display{
  top: 10px;
}




