.footcontainer{
    width: auto;
}

.footcontainer img{
    width: 100%;
    margin-bottom: -500px;
}

.clearance{
    margin-top: 315px;
}

.clearance span{
    margin-left: 1000px;
    font-size: 30px;
    color: rgb(73, 116, 149);
}

.womenspage{
    margin-left: 1000px;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(107, 121, 114);
}

.menspage{
    margin-left: 1200px;
    margin-top: -23px;
    font-size: 20px;
    color: rgb(107, 121, 114);
}

.text{
    padding-left: 1390px;
    padding-top: 75px;
}
