a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
}

.content{

}

ul#content li{
    float: left;
    margin-left: 100px;
    display: block;
    padding-right: 40px;
    padding-left: 40px;
}

hr{
    height:2px;
    width:66%;
    float:left;
    border-style: none;
    background-color: rgba(61, 97, 144, .3);
}

.total{
    float: right;
    margin-right: 70px;
}

.bagtitle{
    margin-top: 30px;
}

.rightside{
    float: right;
}

.summarytitle{
    float: right;
    margin-right: 350px;
    margin-top: -70px;
}

.summarybox{
    border-style: solid;
    border-width: 1px;
    margin-top: -45px;
    margin-right: -400px;
    padding: -5px;
    display: inline-block;
}

.summarybox ul{
    list-style-type: none;
    margin-left: -20px;
}

.cart-btn {
    display: inline-block;
    background-color: rgb(160, 203, 245);
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 9px 80px;
    transition: all .5s;
    outline: 1px solid;
    margin: 20px;
}
.cart-btn:hover {
    background-color: #64af3d;
}
